<h3>Add an Item Type:</h3>
<form action="/itemtypes/new" method="post">
  <label for="new-item-type-name">Item Type Name: </label>
  <input name="new-item-type-name" type="text">
  <button type="submit" class="btn btn-success">Add Item Type</button>
</form>
